div.statusIcon		{ position: relative;}
div.status-0:before { color: orange;}
div.status-1:before { color: blue;}
div.status-2:before { color: red;}
div.status-3:before { color: green;}
div.status-4:before { color: #00A094;}

.statusSetter {
    position: absolute;
    background: white;
    padding: 10px;
    z-index: 10;
    margin-left: -10px;
    box-shadow: 0px 0px 4px;
}

.statusSetter .setStatus { line-height: 22px;}
.statusSetter .setStatus:hover { background: #dadada;}

span.userName:not(:last-child):after { content: "/";}

div.autocompleteListWrapper {
    position: absolute;
    background-color: #fff;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 2px;
    z-index: 10;
    padding: 0px;
	height: 360px;
	overflow: auto;    
}

ul.autocompleteListWrapper {
    background-color: #fff;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}
li.autocompleteListElement {padding: 10px}
li.autocompleteListElement:hover {background-color: #ccc;}

.flashMessage {
height: 60px;
font-size: 20px;
line-height: 20px;
padding: 10px;
}


/** Statusfarben **/
tr.demand-max {
    background-color: #9DE59D;
}

tr.demand-max:nth-of-type(odd) {
    background-color: #C0FFC0;
}

tr.demand-50 {
    background-color: #EDC33E;
}

tr.demand-50:nth-of-type(odd) {
    background-color: #EDC33E;
}

tr.demand-30 {
    background-color: #F4B988;
}

tr.demand-30:nth-of-type(odd) {
    background-color: #f48988;
}

tr.demand-low {
    background-color: red;
}

/** ORDER STATE LOGICAL SWITCHES (MOVE TO JS SOON) **/

.orderState-0 .setOrderState-100,
.orderState-0 .setOrderState-2,
.orderState-1 .setOrderState-100,
.orderState-1 .setOrderState-2,
.orderState-2 .setOrderState-100,
.orderState-2 .setOrderState-2,
.orderState-3 .setOrderState-100,
.orderState-3 .setOrderState-3,
.orderState-4 .setOrderState-3 {
    display: none;
}

.panel.dashboard-sized {
    max-height: 288px;
    position: relative;
    overflow: hidden;
}

.panel.dashboard-sized .scrollable {
    max-height: 245px;
    overflow: auto;
}

.scrollable .table {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {

    .panel.dashboard-sized {
        height: 288px;
    }

    
}