@media only screen and (max-width: 767px) {
    body {
        background-color: #00a200;
    }
}

@media only screen and (min-width: 768px) {
    
    body {
        background-image: url(../images/background.jpg);
        background-repeat: repeat;
    }
    
}

/* Bootstrap Overrides */
.panel-default {  border-color: #941A25;}
.panel,
.tab-content,
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
.list-group-item { background-color: #F3E8CF;}
.panel-default>.panel-heading { background-color: #B69141;}
.nav-tabs>li>a,
.table-striped>tbody>tr:nth-of-type(odd) { background-color: #F1DFC9; }
.table-striped>tbody>tr:nth-of-type(even) {  background-color: #F9F9F9;}
.h1, .h2, .h3, h1, h2, h3 { margin-left: 30px;}

.container {
  background-color: #F1DFC9;
  border-radius: 5px;
  border: 1px solid #666;
  box-sizing: border-box;
}

div.statusIcon		{ position: relative;}
div.status-1:before { color: orange;}
div.status-2:before { color: blue;}
div.status-3:before { color: red;}
div.status-4:before { color: green;}
div.status-5:before { color: #00A094;}

.statusSetter {
    position: absolute;
    background: white;
    padding: 10px;
    z-index: 10;
    margin-left: -10px;
    box-shadow: 0px 0px 4px;
}

.statusSetter .setStatus { line-height: 22px;}
.statusSetter .setStatus:hover { background: #dadada;}

span.userName:not(:last-child):after { content: "/";}

div.autocompleteListWrapper {
    position: absolute;
    background-color: #fff;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 2px;
    z-index: 10;
    padding: 0px;
	height: 360px;
	overflow: auto;    
}

ul.autocompleteListWrapper {
    background-color: #fff;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}
li.autocompleteListElement {padding: 10px}
li.autocompleteListElement:hover {background-color: #ccc;}

.flashMessage {
height: 60px;
font-size: 20px;
line-height: 20px;
padding: 10px;
}


/** Statusfarben **/
tr.demand-max {}
tr.demand-max:nth-of-type(odd) {}
tr.demand-50 {}
tr.demand-50:nth-of-type(odd) {}
tr.demand-30 {}
tr.demand-30:nth-of-type(odd) {}
tr.demand-low {}

/** ORDER STATE LOGICAL SWITCHES (MOVE TO JS SOON) **/

.orderState-1 .setOrderState-100,
.orderState-1 .setOrderState-3,
.orderState-2 .setOrderState-100,
.orderState-2 .setOrderState-3,
.orderState-3 .setOrderState-100,
.orderState-3 .setOrderState-3,
.orderState-4 .setOrderState-100,
.orderState-4 .setOrderState-4,
.orderState-5 .setOrderState-4 {
    display: none;
}

.panel.dashboard-sized {
    max-height: 288px;
    position: relative;
    overflow: hidden;
}

.panel.dashboard-sized .scrollable {
    max-height: 245px;
    overflow: auto;
}

.scrollable .table {
    margin-bottom: 0;
}

.container .statusIcon, [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: Glyphicons Halflings;
}
td .status-1:before{content:"\e034"} /* Incoming */
td .status-2:before{content:"\e030"} /* Waiting */
td .status-3:before{content:"\e209"} /* set back */
td .status-4:before{content:"\e116"} /* on list */
td .status-5:before{content:"\e178"} /* ordered */
td .status-6:before{content:"\e102"} /* arrived */
td .status-100:before{content:"\e013"} /* done */

@media screen and (min-width: 768px) {

    .panel.dashboard-sized {
        height: 288px;
    }

    
}

